body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  background: transparent;
  border-radius: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-container {
  display: flex;
  padding-top: 250px;
  justify-content: center;
  gap: 15px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name-field__input {
  width: 100px;
}
